html {
    background-color: #ffded1;
}
body {
    font-family: 'Muli', sans-serif;
    position: relative;
}
.wrapper {
    display: flex;
    padding: 10px;
}

/* NAV */
.side-nav{
    height: 100%;
    margin-top: 40px;
}
.side-nav ul {
    list-style-type: none;
    padding-left: 15px;
    /*background-color: #FBDAC7;*/
}
.side-nav li {
    margin-bottom: 15px;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
}
.side-nav a:link {
    color: #330106;
    text-decoration: none;
}
.side-nav a:visited {
    color: #330106;
    text-decoration: none;
}
.side-nav a:hover {
    color: #BF7085;
    text-decoration: none;
}
.side-nav a:active {
    color: #330106;
    text-decoration: none;
}

/* HEADER */
.header-pages {
    padding: 15px;
    margin-left: 30px;
}
.title {
    width: 100%;
    display: flex;
    font-size: 2rem;
    flex-direction: column;
}
.title h1 {
    margin-top: 20px;
}
.header-pages ul{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.header-pages li {
    font-size: 3rem;
    margin-right: 30px;
}

.fa{
    color: #330106;
}
.fa:hover {
    color: #BF7085;
}


/* BODY no header or nav*/
.intro h2 {
    font-size: 3rem;
    color: #067575;
}
.intro p {
    margin-bottom: 50px;
}
.section-title {
    font-size: 2rem;
    color: #067575;
}
hr {
    color: #067575;
}
p {
    color: #330106;
}
.current-projects p {
    margin-top: 80px;
    margin-bottom: 80px;
}

.previous-projects p {
    margin-top: 80px;
    margin-bottom: 80px;
}
.contact-info p {
    margin-bottom: 250px;
}

/* FOOTER */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer-text {
    float: right;
}
